In [ ]:
import pandas as pd
import numpy as np
import os


#defining the path
Path_to_Data="/content/drive/MyDrive/EETBS 2021-2022/Data"
Path_to_Weather=os.path.join(Path_to_Data,"Austin_weather_2014.csv")
Path_to_Consumpion=os.path.join(Path_to_Data,"consumption_5545.csv")
Path_to_Irradiance=os.path.join(Path_to_Data,"irradiance_2014_gen.csv")

#reading the files
Consumption_DF=pd.read_csv(Path_to_Consumpion, sep=",",index_col=0 ,parse_dates=[0])
Weather_DF=pd.read_csv(Path_to_Weather, sep=";",index_col=0,parse_dates=[0],
                           date_parser=lambda col: pd.to_datetime(col,utc=True).tz_convert("US/Central").tz_localize(None))
Irradiance_DF=pd.read_csv(Path_to_Irradiance, sep=";",index_col=1, parse_dates=[1])


#extracting temperature from the available data

Temperature_DF=Weather_DF.loc[:,["temperature"]]

Irradiance_DF=Irradiance_DF.loc[:,["gen"]]

#renaming the columns
Consumption_DF=Consumption_DF.rename(columns={"air conditioner_5545":"Consumption"})
Irradiance_DF=Irradiance_DF.rename(columns={"gen":"Irradiance"})

In [ ]:
#removing the negative values for irradiance

Irradiance_boolean=Irradiance_DF.loc[:,"Irradiance"]<0
Irradiance_DF.loc[Irradiance_boolean,"Irradiance"]=0

In [ ]:
#rpresenting the available data in a single data frame and removing the unavailable values

DF_joined=Irradiance_DF.join([Consumption_DF,Temperature_DF])
DF_joined=DF_joined.dropna()

In [ ]:
#saving the file as a notebook to be edited later.

folder_path="/content/drive/MyDrive/EETBS 2021-2022/Processed Data"
note_book_name="DF_joined_arya_assadian.csv"
path_book_name=os.path.join(folder_path,note_book_name)
DF_joined.to_csv(path_book_name)
DF_joined


#Assignment to be continued in a new note book.

                     Irradiance  Consumption  temperature
localhour
2014-01-01 06:00:00    0.000000          0.0        39.36
2014-01-01 07:00:00    0.052800          0.0        37.86
2014-01-01 08:00:00    0.773583          0.0        38.97
2014-01-01 09:00:00    2.097700          0.0        45.85
2014-01-01 10:00:00    3.036750          0.0        51.42
...                         ...          ...          ...
2014-12-30 20:00:00    0.000000          0.0        41.52
2014-12-30 21:00:00    0.000000          0.0        40.37
2014-12-30 22:00:00    0.000000          0.0        40.15
2014-12-30 23:00:00    0.000000          0.0        40.00
2014-12-31 00:00:00    0.000000          0.0        38.74

[8671 rows x 3 columns]